<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bbs.mapper.CommentKeyWordMapper">
    <select id="getCommentKeyWordList" resultType="com.example.bbs.pojo.CommentKeyWord">
        select
            k.id id,
            k.userId userId,
            k.contentId contentId,
            k.contentKind contentKind,
            k.schoolId schoolId,
            k.keyWord keyWord,
            k.commentCreateTime commentCreateTime,
            k.create_time createTime,
            k.update_time updateTime
        from
            bbs_comment_key_word k
        join bbs_comment c on k.commentId=c.commentId
        where
              c.commentState = 0
        <if test="contentId != null and contentId != 0">
          and c.contentId = #{contentId}
        </if>
        order by
        k.commentCreateTime desc;
    </select>
</mapper>
