<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bbs.mapper.UserMapper">
    <update id="batchUpdateUserInfo">
        UPDATE bbs_user
        SET lastIp = CASE userId
        <foreach collection="userInfoList" item="item" separator=" " open=" " close=" ">
            WHEN #{item.userId} THEN #{item.lastIp}
        </foreach>
        END,
        lastLoginTime = CASE userId
        <foreach collection="userInfoList" item="item" separator=" " open=" " close=" ">
            WHEN #{item.userId} THEN #{item.lastLoginTime}
        </foreach>
        END,
        updateTime = CASE userId
        <foreach collection="userInfoList" item="item" separator=" " open=" " close=" ">
            WHEN #{item.userId} THEN #{item.updateTime}
        </foreach>
        END
        WHERE userId IN
        <foreach collection="userInfoList" item="item" index="index" separator="," open="(" close=")">
            #{item.userId}
        </foreach>
    </update>
</mapper>
